.git
.github
.idea
.vscode

.env
.env.*
!.env.example

vendor
node_modules
npm-debug.log
yarn-error.log

database/*.sqlite
database/*.sqlite-*

bootstrap/cache/*.php

storage/app/*
!storage/app/.gitignore
!storage/app/private
!storage/app/private/.gitignore
!storage/app/public
!storage/app/public/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore

.phpunit.cache
.phpunit.result.cache
coverage
tests
